/classes/
/lib/
/node_modules/
/target/
resources/release/background/js/
resources/release/option/js/
resources/release/content/js/
resources/dev/background/js/
resources/dev/option/js/
resources/dev/content/js/
*.jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.nrepl-port
.figwheel*.log
pom.xml
*.DS_Store
.cljs_rhino_repl/