table {
    background-color:#fff;
    border:none;
    color:#565;
    font:12px arial;
    text-align:left;
}
table caption {
    font-size:24px;
    border-bottom:2px solid #b3de94;
}
table,td,th {
    margin:0;
    padding:0;
    vertical-align:middle;
}
tbody td,tbody th {
    background-color:#dfc;
    border-bottom:2px solid #b3de94;
    border-top:3px solid #fff;
    padding:9px;
}
tfoot td,tfoot th {
    font-weight:bold;
    padding:4px 8px 6px 9px;
    text-align:center;
}
thead th {
    font-size:14px;
    font-weight:bold;
    line-height:19px;
    padding:0 8px 2px;
    text-align:center;
}
tbody tr.even th,tbody tr.even td {
    background-color:#cea;
    border-bottom:2px solid #67bd2a;
}
col.price {
    text-align:right;
}
